<!DOCTYPE html>
<html class="no-js" lang="en"> 
<head>

  <!--- basic page needs
  ================================================== -->
  <meta charset="utf-8">
  <title>BookShare</title>
  <meta name="description" content="BookShare">  
  <meta name="author" content="Esposito-Palumbo">

  <!-- mobile specific metas 
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="refresh" content="4;url={{ url_for('index')}}" />

  <!-- script
  ================================================== -->
  <link rel="icon" type="image/png" href="../static/images/icon.png">

</head>
<body style="background-color: #14171c; color: white; text-align: center; font-family: Lato;">
	<h1 style="font-size: 60px;">Oops! <br>Nothing to see here.</h1>
	<p style="font-size: 25px;">Type error: {{type_error}}</p>
</body>
</html>