<!DOCTYPE html>
<html class="no-js" lang="en"> 
<head>

  <!--- basic page needs
  ================================================== -->
  <meta charset="utf-8">
  <title>BookShare</title>
  <meta name="description" content="BookShare">  
  <meta name="author" content="Esposito-Palumbo">

  <!-- mobile specific metas 
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- CSS
  ================================================== -->
  <link rel="stylesheet" href="../static/css/base.css">  
  <link rel="stylesheet" href="../static/css/profile.css">
  <link rel="stylesheet" href="../static/css/vendor.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

  <!-- script
  ================================================== -->
  <script src="../static/js/modernizr.js"></script>

  <!-- favicons
  ================================================== -->
  <link rel="icon" type="image/png" href="../static/images/icon.png">

</head>

<body id="top">

	<!-- header 
  ================================================== -->
  <header>
   	<div class="row">
   		<div class="logo">
	      <a href="{{ url_for('profile')}}"><img src="../static/images/Logo.png" title="BookShare" /></a>
	    </div>

	   	<nav id="main-nav-wrap">
				<ul class="main-navigation">
					<li><a href="{{ url_for('homepage')}}" title="Search">Search</a></li>
					<li><a class="smoothscroll" href="#top" title="Profile">Profile</a></li>
          <li class="highlight with-sep"><a href="{{ url_for('logout')}}" title="Logout" style="width:auto;">Logout</a></li>  
				</ul>
			</nav>
			<a class="menu-toggle" href="#"><span>Menu</span></a>
   	</div>   	
   </header> <!-- /header -->

	<!-- intro section
  ================================================== -->
  <section id="intro">
    <div class="intro-content">
      <div class="row">
        <div class="col-twelve">
          <div class="column left">
            <img class="profile" src="../static/images/avatars/profile.png" />
              <div class="sidenav">
                <h5>{{name}} {{surname}} </h5>
                <h6><i class="fas fa-phone"></i> 3392300474</h6>
                <button class="dropdown-btn"><h6>Social Network <i class="fa fa-caret-down"></i></h6></button>
                <div class="dropdown-container">
                  <h6><a href="#"><i class="fab fa-facebook-f"></i> Facebook</a></h6>
                  <h6><a href="#"><i class="fab fa-twitter"></i> Twitter</a></h6>
                  <h6><a href="#"><i class="fab fa-google-plus-g"></i> Google+</a></h6>
                  <h6><a href="#"><i class="fab fa-linkedin"></i> Linkedin</a></h6>
                </div>
              </div>
          </div>
          <div class="column">
            <h2>Your Bookshelf</h2>
            <p id="a_b" style="display: none;">{{array}}</p>
            <div id="array_book" class="books">

            </div>
          </div>     
	   		</div>  
   		</div>   		 		
   	</div> 
  </section> <!-- /intro -->  

   <!-- footer
   ================================================== -->
   <footer>
      <div class="footer-bottom">
      	<div class="row">
      		<div class="col-twelve">
	      		<div class="copyright">
		         	<span>© Copyright BookShare.</span> 
		         	<span>Design by <a href="#">Esposito-Palumbo</a></span>		         	
		        </div>
		        <div id="go-top" style="display: none;">
		          <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon ion-android-arrow-up"></i></a>
		        </div>         
	      	</div>
      	</div> <!-- /footer-bottom -->     	
      </div>
   </footer>  

  <!-- Java Script
  ================================================== --> 
<script type="text/javascript">
  var dropdown = document.getElementsByClassName("dropdown-btn");
  var i;

  for (i = 0; i < dropdown.length; i++) {
    dropdown[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var dropdownContent = this.nextElementSibling;
      if (dropdownContent.style.display === "block") {
        dropdownContent.style.display = "none";
      } else {
        dropdownContent.style.display = "block";
      }
    });
  }
</script>
  <script src="../static/js/jquery-1.11.3.min.js"></script>
  <script src="../static/js/jquery-migrate-1.2.1.min.js"></script>
  <script src="../static/js/plugins.js"></script>
  <script src="../static/js/main.js"></script>
  <script src="../static/js/books_profile.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  
</body>
</html>